<!DOCTYPE html>
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <h1>Главная страница</h1>
      <div>{{getTime}}</div>

      <h5>Create List</h5>
      <div>
         {{createStringList fruit}}
      </div>
   </body>
</html>
